/*
-----------------------------------------------------------
Irssi - irssi.org
Main Stylesheet
By Prabhath Sirisena - http://nidahas.com

Basic styling : initial.css
IE Hacks      : ie_hacks.css

Contents:
1. General styles
2. Wrapper 
3. Header
4. Navigation
5. Content 
6. Table styles
7. Form styles
8. Page Specific styles

Colours:
Dark red:    #330000
Common red:  #C83100
Dark green:  #006600
Light green: #CCFF66
Green gradient (navigation): #E9FFBB - #CCFF66
Grey gradient (background) #E1E1C4 - #F8F8EF
Light grey (description): #F2FFD7

----------------------------------------------------------- */

body { font-size: 75%; color: #111; background-color: #F8F8EF; }

a, a:link { color: #069; }
a:visited { color: #636; }
a:hover { color: #C83100; text-decoration: none; }
a img { border: 0; }

h1, h2, h3, h4 { font-family: "lucida grande","trebuchet ms","lucida sans unicode","lucida sans",Verdana,sans-serif; font-weight: normal; }
h4 { font-size: 100%; font-weight: bold; }
h5 { font-size: 90%; }
h6 { font-size: 80%; text-transform: uppercase; font-weight: normal; }
pre { font-size: 120%; }
code, kbd { font-size: 120%; }
pre code, pre kbd { display: block; padding: 5px; overflow: auto; font-size: 100%; background-color: #FFE; border: #FFC 1px solid; }
hr { height: 1px; border: #CF6 1px solid; background-color: #CF6; }
dt { font-weight: bold; }

/* Helper classes */
.mini { font-size: 90%; }
.hide { display: none; }
.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }

/* Quick links and Search
---------------------------------------------------------- */
div#access { padding: 0 10px; overflow: auto; font-size: 90%; line-height: 1em; background-color: #300; border-bottom: #C83100 2px solid; }	
div#access ul#skip { list-style: none; }
div#access ul#skip li { margin: 0 20px 0 0; padding: 0 15px 0 0;float: left; background: url(/images/skip_bk.png) no-repeat right bottom; }
div#access div#search-form { float: right; line-height: 1em; }
div#access a { color: #FFF; text-decoration: none; }
div#access a:hover { text-decoration: underline; }
div#access div#search-form input#s { margin-right: 5px; position: relative; top: -7px; }

/* Header
---------------------------------------------------------- */
div#header { position: relative; color: #900; height: 175px; background: url(/images/header_bk.png) #C83100 repeat-x left top; }
div#header h1 { margin: 0px auto; width: 100%; max-width: 1100px; min-width: 770px; }

/* Wrap 
---------------------------------------------------------- */
div#wrap { background: url(/images/wrap_bk.png) #F8F8EF repeat-x left top; }

/* Wrapper
---------------------------------------------------------- */
div#wrapper { margin: 0px auto; width: 100%; max-width: 1100px; min-width: 770px; background-color: #FFF; }

/* Navigation
---------------------------------------------------------- */
div#navigation { margin: 0 15px; font-size: 90%; text-transform: uppercase; }
body.liquid div#navigation { margin: 0; }
div#navigation ul { margin: 0; padding: 0; width: 100%; float: left; list-style: none; background: url(/images/navigation_bk.png) #CF6 repeat-x left top; }
div#navigation ul li { margin: 0; padding: 0; float: left; border-left: #E9FFBB 1px solid; border-right: #CCFF66 1px solid; }
div#navigation ul li a { padding: 10px 15px; display: block; line-height: 1em; text-decoration: none; color: #060; }
div#navigation ul li a:hover { color: #030; background-color: #CF6; text-decoration: underline; }
div#navigation ul li a.level1current, div#navigation ul li a.level1highlight { font-weight: bold; text-decoration: none; color: #060; background-color: #CF6; }

/* Content
---------------------------------------------------------- */
div#content { padding: 15px 0; position: relative; min-height: 300px; overflow: auto; clear: both; }
body#home div#content { overflow: visible; }
div#content ul, div#content ol { margin-left: 15px; }
div#main-content { margin: 0 15px 0 230px; }
body#home div#main-content { margin: 0 0 0 15px; width: 48%; float: left; }
div#main-content h2 { margin-top: 0; font-size: 150%; font-weight: normal; color: #900; }
div#main-content h2.section { margin: 15px 0; font-size: 100%; text-transform: uppercase;color: #CC9; border-bottom: #CC9 1px dotted; }
div#main-content h3 { font-size: 125%; font-weight: normal; color: #660; }
div#main-content h4 { font-size: 110%; color: #600; }
div#main-content blockquote { margin: 0; padding: 5px 10px; background-color: #FFE; border-left: #FFC 3px solid; }

/* Description on home page */
div#description { margin: 0 15px; padding: 15px; overflow: auto; font-family: Georgia,"Times New Roman",Times,serif; font-size: 120%; font-style: italic; color: #030; background-color: #F2FFD7; }
div#description p#heya { margin: 0 0 1em 0; }
div#description span { color: #CC9; }
div#description a { color: #060; }
div#description #download { font-family: "lucida grande","trebuchet ms","lucida sans unicode","lucida sans",Verdana,sans-serif; font-size: 90%; font-style: normal; }

/* Download box */

#download { float: left; margin: 10px 0; padding: 0; color: #666; background: url(/images/rounded-right.png) top right no-repeat; } 
.intro { margin: 0; padding: 9px 9px 0 9px; color: #060; background: url(/images/rounded-left.png) top left no-repeat; }
.version { margin: 0; padding: 0 0 0 9px; background: url(/images/rounded-left.png) bottom left no-repeat; }
.version em { display: block; padding: 0 9px 9px 0; font-style: normal; background: url(/images/rounded-right.png) bottom right no-repeat; }
#download a, div#description #download a { font-size: 125%; color: #C83100; }
#download a:hover, div#description #download a:hover { color: #D40; }

/* Entry */
div#main-content div.entry { margin-bottom: 15px; padding-bottom: 15px; border-bottom: #CF6 1px dotted; }
div#main-content div.entry h3 { margin-bottom: 0; font-size: 150%; color: #060; }
div#main-content div.entry h3 a { color: #060; text-decoration: none; }
div#main-content div.entry h3 a:hover { color: #090; }
div#main-content div.entry h4.date { margin-top: 0; font-size: 80%; font-weight: normal; color: #777; }
div#main-content div.entry ul.meta { margin: 0; padding: 0; font-size: 90%; color: #777; list-style: none; }
div#main-content div.entry ul.meta li { margin: 0; padding: 0 10px 0 5px; display: inline; }
div#main-content div.entry ul.meta li { border-right: #CF6 1px solid; }
div#main-content div.entry ul.meta li.permalink { padding-left: 0; }
div#main-content div.entry ul.meta li.categories { border: 0; }
div#main-content div.entry ul.meta li a { color: #C83100; text-decoration: none; border-bottom: #C83100 1px dotted; }
div#main-content dl#recently { color: #555; }
div#main-content dl#recently dt { margin-top: 1em; font-size: 120%; font-weight: normal; color: #060; }
div#main-content dl#recently dt a { color: #060; text-decoration: none; }
div#main-content dl#recently dt a:hover { color: #090; }
div#main-content dl#recently dt a:hover { text-decoration: underline; }
div#main-content dl#recently dd { margin: 0; }
div#main-content dl#recently dd.date { font-size: 80%; color: #777; }
div#main-content dl#recently dd.categories { font-size: 80%; color: #777; }
div#main-content dl#recently dd.categories a { color: #C83100; text-decoration: none; border-bottom: #C83100 1px dotted; }

/* Sub content */
div#sub-content { position: absolute; top: 0; left: 15px; width: 200px; }
body#home div#sub-content { margin: 0 15px 0 0; position: static; width: 48%; float: right; }
div.feature { margin: 15px 0; padding: 15px; background-color: #FFC; }
div.feature h2 { margin: 0; padding-left: 20px; font-size: 100%; text-transform: uppercase; color: #C83100; background: url(/images/star.png) no-repeat left center; border-bottom: #CF6 1px dotted; }
div.feature h3 { margin: 0.5em 0 0 0; font-size: 150%; color: #060; }
div.feature h3 a { color: #060; text-decoration: none; }
div.feature h3 a:hover { color: #090; }
div.feature h4.author { margin: 0 0 1em 0; font-size: 80%; font-weight: normal; color: #060; }
div.feature h4.author a { color: #C83100; text-decoration: none; }
div.feature p { margin-top: 0; }
div.feature .floatleft { margin: 0 10px 10px 0; }
div.feature ul.more { margin: 0; padding: 0; list-style: none; text-align: right; }
div.feature ul.more li { margin: 0; padding: 0 0 0 10px; display: inline; }
div.feature ul.more li.all { padding-right: 5px; }
div.feature ul.more li.add { border-left: #CF6 1px solid; }
div.feature ul.more li a { color: #C83100; text-decoration: none; border-bottom: #C83100 1px dotted; }

/* Sub nav */
div#content ul#sub-menu { margin: 15px 0; padding: 0; font-family: "lucida grande","trebuchet ms","lucida sans unicode","lucida sans",Verdana,sans-serif; list-style: none; border-top: #CCC 1px dotted; }
ul#sub-menu li { margin: 0; line-height: 2.5em; }
ul#sub-menu li ul { margin: 0; list-style: none; }
ul#sub-menu li a { padding: 0 10px; display: block; color: #036; text-decoration: none; border-bottom: #CCC 1px dotted; }
ul#sub-menu li a#sub-menucurrent, ul#sub-menu li a#sub-menuhighlight { font-weight: bold; color: #C83100; }
ul#sub-menu li a:hover { text-decoration: underline; background-color: #FFC; }
ul#sub-menu li ul a { padding: 0 20px; font-size: 90%; }

/* Footer
---------------------------------------------------------- */
div#footer { margin-bottom: 30px; padding: 10px; clear: both; text-align: center; color: #666; font-size: 90%; background-color: #E1E1C4; }
div#footer ul { margin: 0; }
div#footer ul li { display: inline; }
div#footer a { color: #C83100; text-decoration: none; border-bottom: #C83100 1px dotted; }

/* Table styles 
----------------------------------------------------------- */
table { margin: 0 0 1em 0; border-collapse: collapse; }
table td { vertical-align: top; }
table.data { width: 100%; }
table.data td { padding: 3px; border-bottom: #D7E0E8 1px solid; }

/* Form styles 
----------------------------------------------------------- */
div.form-container { margin: 10px; padding: 5px; background-color: #FFF; border: #EEE 1px solid; }

p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }

div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

div.form-container form p { margin: 0; }
div.form-container form p.note { margin-left: 170px; font-size: 90%; color: #333; }
div.form-container form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
div.form-container form legend { font-weight: bold; color: #666; }
div.form-container form fieldset div { padding: 0.25em 0; }
div.form-container label, 
div.form-container span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error, 
div.form-container span.error { color: #C00; }
div.form-container label em, 
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container input.error { border-color: #C00; background-color: #FEF; }
div.form-container input:focus,
div.form-container input.error:focus, 
div.form-container textarea:focus {	background-color: #FFC; border-color: #FC6; }
div.form-container div.controlset label, 
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 170px; }
div.form-container div.buttonrow { margin-left: 180px; }
